body {
  margin: 0;
  padding: 0;
  background-color: azure;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Header for email and name */

header {
  display: flex;
  justify-content: space-around;
  background-color: floralwhite;
  align-items: center;
}

.name,
.email {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: red;
}

.name_value,
.email_value {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
}

/*  search box */

section {
  background-color: darkcyan;
  min-height: 100vh;
}

.search_box {
  margin: 5rem;
}

.search_box .form {
  width: 60%;
  margin: auto;
  display: flex;
}

.form input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 5px 0 0 5px;
  font-size: 1.3rem;
  color: gray;
  padding-left: 1rem;
}

.form span {
  width: 10%;
  border: 1px solid grey;
  padding: 0.5rem;
  text-align: center;
  border-left: none;
  background-color: azure;
  border-radius: 0 5px 5px 0;
}

.form span:hover {
  background-color: burlywood;
}

.form span i {
  font-size: 2rem;
}

/* images section */

.images_for_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  justify-content: space-evenly;
}

.images_for_grid .img_caption {
  border: 2px solid white;
  padding: 0.7rem;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.images_for_grid .img_caption img {
  object-fit: cover;
}

.images_for_grid .img_caption .link_addcaption {
  display: block;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: beige;
  color: brown;
  border: none;
  text-decoration: none;
  text-align: center;
}

.images_for_grid .img_caption .link_addcaption:hover {
  color: beige;
  background-color: brown;
}

.images_error {
  width: 60%;
  text-align: center;
  margin: auto;
  font-family: monospace;
  color: red;
  font-size: 1.7rem;
}

.keyword_error {
  color: darkgray;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* canvas editing */
.main_canvas {
  display: flex;
  margin: 2rem;
  width: 70%;
  min-height: 75vh;
  margin: 5rem auto 2rem auto;
  align-items: center;
}

.canvas {
  border: 1px solid black;
  width: 70%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  border: 1px solid black;
  width: 30%;
  height: 30rem;
  border-left: 0px;
  display: flex;
  flex-direction: column;
}

.controls .size_text {
  width: 50%;
  margin: auto;
}

.controls .size_text input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.4rem;
  color: grey;
  font-size: 1.3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.controls .caption_button button {
  width: 100%;
  background-color: cadetblue;
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem;
  border: 0;
  cursor: pointer;
}

.controls .caption_button button:hover {
  background-color: aquamarine;
  color: black;
  border: 1px solid black;
}

.controls .download_button button {
  width: 100%;
  background-color: darkred;
  color: black;
  font-size: 1.5rem;
  padding: 0.7rem;
  border: 0;
  cursor: pointer;
}
.controls .download_button button:hover {
  background-color: crimson;
  color: white;
  border: 1px solid black;
}

.controls .shape {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 0.8rem;
}

.controls .shape div {
  width: 49%;
  border: 2px solid black;
  margin: 1px;
  border-radius: 5px;
  padding: 7px;
}

.controls .shape div:hover {
  border: 4px solid red;
  background-color: bisque;
  cursor: pointer;
}

.error_getting_images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
  width: 100%;
  display: block;
}

.error_getting_images .canvas_error {
  font-size: 2.5rem;
  width: 80%;
  text-align: center;
  margin: 2rem;
  color: red;
  font-family: monospace;
  font-weight: 600;
}

.go_back_button {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: white;
  background-color: black;
  padding: 0.7rem 3rem;
  border-radius: 10px;
}
.go_back_button:hover {
  background-color: white;
  color: black;
}

/*===================  Media Quries for  less than 992px ==============*/

@media screen and (max-width: 992px) {
  /* Bio part */
  header {
    flex-direction: column;
    justify-content: center;
  }

  .name,
  .email {
    font-size: 1.5rem;
  }

  .name_value,
  .email_value {
    font-size: 1.3rem;
  }

  /* Search box */

  .search_box .form {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 100%;
    border-radius: 5px;
  }

  .form span {
    display: block;
    width: 30%;
    border: 1px solid black;
    margin-top: 0.5rem;
    border-radius: 5px;
  }

  /* Image section */

  .images_for_grid {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

  .images_for_grid .img_caption img {
    width: 11rem !important;
    height: 11rem !important;
  }

  .images_error {
    width: 80%;
    font-size: 1.5rem;
  }

  /*---------------- canvas editing ---------------------*/
  .main_canvas {
    width: 667px;
    margin: 2rem auto 2rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .canvas {
    width: 667px;
  }

  .controls {
    margin-top: 3rem;
    width: 70%;
    height: 35rem;
    border: 1px solid black;
  }

  .controls .shape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0.8rem;
  }

  .controls .shape div {
    width: 40%;
    margin: 2px;
  }
}

/*===================  Media Quries for  less than 768px ==============*/

@media screen and (max-width: 768px) {
  /* Bio part */
  header {
    flex-direction: column;
    justify-content: center;
  }

  .name,
  .email {
    font-size: 1.5rem;
  }

  .name_value,
  .email_value {
    font-size: 1.3rem;
  }

  /* Search box */

  .search_box .form {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 100%;
    border-radius: 5px;
  }

  .form span {
    display: block;
    width: 30%;
    border: 1px solid black;
    margin-top: 0.5rem;
    border-radius: 5px;
  }

  /* Image section */

  .images_for_grid {
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .images_for_grid .img_caption img {
    width: 13rem !important;
    height: 13rem !important;
  }

  .images_error {
    width: 80%;
    font-size: 1.5rem;
  }

  /*---------------- canvas editing ---------------------*/
  .main_canvas {
    width: 667px;
    margin: 2rem 1rem 2rem 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .canvas {
    width: 667px;
  }

  .controls {
    margin-top: 3rem;
    width: 70%;
    height: 35rem;
    border: 1px solid black;
  }

  .controls .shape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0.8rem;
  }

  .controls .shape div {
    width: 40%;
    margin: 2px;
  }
}

/*===================  Media Quries for  less than 576px ==============*/

@media screen and (max-width: 575px) {
  /* Bio part */
  header {
    flex-direction: column;
    justify-content: center;
  }

  .name,
  .email {
    font-size: 1.5rem;
  }

  .name_value,
  .email_value {
    font-size: 1.3rem;
  }

  /* Search box */

  .search_box .form {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 100%;
    border-radius: 5px;
  }

  .form span {
    display: block;
    width: 30%;
    border: 1px solid black;
    margin-top: 0.5rem;
    border-radius: 5px;
  }

  /* Image section */

  .images_for_grid {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }

  .images_for_grid .img_caption img {
    width: 22rem !important;
    height: 25rem !important;
  }

  .images_error {
    width: 80%;
    font-size: 1.5rem;
  }

  /*---------------- canvas editing ---------------------*/
  .main_canvas {
    width: 667px;
    margin: 2rem 1rem 2rem 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .canvas {
    width: 667px;
  }

  .controls {
    margin-top: 3rem;
    width: 70%;
    height: 35rem;
    border: 1px solid black;
  }

  .controls .shape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0.8rem;
  }

  .controls .shape div {
    width: 40%;
    margin: 2px;
  }
}
